@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
  body{
    background-color:  #ffeef7;
    font-size: 65px;
    font-family: "Dancing Script", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    color: #9C1212;
    font-size: 30px;
    text-align: center;
}

#opening{
    font-size: 50px;
    justify-items: center;
}


#meya{
justify-content: space-around;
display: block;
margin: auto;
height: 700px;
border: 5px dotted #fca2cf;
border-radius: 50xpx;

}

#hxh{
    margin: 40px;
    width: auto;
    height: auto;
}

milim{
    margin: 40px;
    width: auto;
    height: auto;
}

illumi{
    margin: 40px;
    width: auto;
    height: auto;
}


.navbar {
    background-color:#ffffff; 
    color: #fdd2e8;  
}


.navbar a {
    color: #ffb7dd;  
    text-decoration: none;
}


.navbar a:hover {
    color: #ff7878;  
}


.navbar a.active {
    color: #FF6F61; 
}


.navbar .icon {
    color: #7FFFD4;  
}

.navbar li {
    display: inline-block;
    padding: 16px;
  }

#hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}