@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
  body{
    background-color: #290000;
    font-size: 35px;
    font-family: "Henny Penny", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

#opening{
    padding: 50px
}

.hr{
    border-style: double
}
h1{
    text-align: center;

}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    background-color: #120000;
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: #660000;
    
}

.navbar li{
    float: left;
}