@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
    background-color: rgb(247, 190, 255);
    font-family: "Yellowtail", serif;
    font-size: 45px;
    font-style: italic
}

p{
    color: rgb(255, 0, 200);
    font-size: 45px;
    text-align: center;
   
}
h1{
    text-align: center;

}

.navbar ul{
    list-style-type: none;

    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(255, 0, 200);
    
}

.navbar li{
    float: left;
}